.text_label{
    float: left;
    width: 100px;
    text-align: right;
    padding: 0px 10px 0px 0px;
}
.text_input{
    width: 150px;
    text-align: left;
    padding: 0px 0px 0px 10px;
}

div{
    padding: 10px 0px 10px 0px;
    width: 274px;
}

#submit{float: right;}