body{font-family: Arial, Helvetica, sans-serif}

table{
        empty-cells: hide;
        color: white;
        empty-cells: hide;
        border-collapse: collapse
        }
tr:hover{
    background-color: aquamarine
}