legend{color:blue;
		background-color:orange;
		border-radius:10px;}
fieldset{padding:10px;
		width:250px;
		border-color:orange;}
fieldset p{text-align:left;}
textarea {
	width: 400px;
	height: 150px;
	color: gray;
	font-family: "times new roman";
}
textarea:focus {color:black;}
input.submit:hover {color:red;
background-color:black;}
input.submit:active {color:black;
background-color:red;}
